body{
    background-color: #00bcd4;
    vertical-align: middle;
}

#login-page{
    .card-panel{
        margin-left: 33%;
        margin-top: 5%;
    }
}

#register-page{
    .card-panel{
        margin-left: 33%;
        // margin-top: 2%;
    }
}